html, body {
    margin: 0;
    padding: 0;
    ul {
        padding: 20px;
        li {
            border: 2px dashed #96f;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
        }
    } 
}