body, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dd, dt, table, form, thead, tbody, tr, th, td a, img {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #111;
}
.w {
    width: 1360px;
    margin: 0 auto;
}
img {
    display: block;
}